<h1>Equipment: <%= equipment.name %></h1>
<% equipment.products.each do |product| %>
  <%== draw(Components::ProductComponent, product: product) %>
<% end %>
<div class="text-right">
  <a href="<%= "/equipment/#{equipment.id}/edit" %>" class="btn btn-outline-secondary">
    Edit
  </a>
  <a href="<%= "/equipment/#{equipment.id}/delete" %>" class="btn btn-outline-danger">
    Delete
  </a>
</div>
