<% if directions && directions.any? %>
<div id="directions">
  <h2>Directions</h2>
  <ul>
  <% directions.each_with_index do |direction, index| %>
    <li id="directions-<%= index %>">
      <%= direction.step %>
      <% if direction.note %>
        <br>
        <i><%= direction.note %></i>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
