<% if equipment && equipment.any? %>
<div id="equipment">
  <h2>Equipment</h2>
  <ul>
  <% equipment.each_with_index do |equipment, index| %>
    <li id="equipment-<%= index %>">
      <a href="<%= equipment.link || '#' %>">
        <%= equipment.name %>
      </a>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
