<div class="container row">
  <div class="col form-group">
    <label for="recipe[directions][][step]">Step:</label>
    <textarea name="recipe[directions][][step]" class="form-control"><%= direction.step %></textarea>
  </div>
  <div class="col form-group">
    <label for="recipe[directions][][note]">Note:</label>
    <textarea name="recipe[directions][][note]" class="form-control"><%= direction.note %></textarea>
  </div>
  <div class="col-auto">
    <label style="display: block">&nbsp;</label>
    <button type="button" class="btn btn-outline-danger" onclick="this.parentElement.parentElement.remove()">
      Remove
    </button>
  </div>
</div>
